/* Fichier généré par Pages de Gitlab :)
   Quelques ajouts par jrd10 20 avril 2022 */

body {
  background-color: aliceblue;
  margin-top: 50px;
  font-family: sans-serif;
  margin: auto;
  max-width: 800px;
}

